
# Server
HOST=0.0.0.0
PORT=1338

# Secrets
APP_KEYS=JxrdzMN3IEnmPv1NjhQ0KQ==,whYaLowmJE5Vz5SM/cicqw==,7RW2U3bz0HW2j+yo5WFmBg==,4Npw2RcV0DzRGjVg9I2kEg==
API_TOKEN_SALT=q4+mwwFBPqpn9r8Ekr3PBw==
ADMIN_JWT_SECRET=Yk2jxdEbJxuV56HjLR9m9g==
TRANSFER_TOKEN_SALT=+uwYOAdZjXNsW9XFMhs9tQ==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=strapiDB
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=v7rxt+GajmoKm2hVBS6fgw==
